@import 'reset';
@import 'vars';

html {
  /* background-color: var(--bg-color); */
  background: url(../assets/svg/test.png);

}

body {
  font-family: 'Roboto Condensed';
  font-size: 1.6rem;
  text-align: center;
  line-height: 2rem;
  color: white;
}

h1 {
  font-size: 3rem;
}

.blur {
  transition: all .1s;
  filter: blur(2px);
}

.world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  left: 0;
  z-index: 0;
  opacity: 0;
  background: url(../assets/svg/world_bg_.png);
}

.score {
  position: absolute;
  right: 70rem;
  top: 3rem;
}

.scoreTitle {
  font-size: 2rem;
}

.scoreText {
  margin-top: 3rem;
  padding-right: .3rem;
  font-size: 7rem;
}

.lives {
  position: absolute;
  display: flex;
  right: 5rem;
  top: 5.5rem;
}

.lives img {
  height: 5rem;
  margin: .5rem;
}

.cameraControl {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cameraControlTitle {
  height: 6rem;
  visibility: visible;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 6rem;
}

.cameraControlText {
  font-size: 1.4rem;
  width: 22.5rem;
}

.cameraControlCont {
  display: flex;
  justify-content: space-between;
  visibility: visible;
  height: 21.6rem;
  margin-bottom: 13rem;
}

.cameraSteps {
  width: 21.6rem;
  height: 21.6rem;
}

.stepNumber {
  margin-bottom: 4rem;
  font-size: 4rem;
}

.cameraWebcam {
  margin-top: 1.5rem;
  transform: scale(-1, 1);
}

.play_button_svg {
  margin-top: 3.5rem;
  width: 60%;
}

.cameraWebamBox {
  position: absolute;
  left: -17px;
  width: 263px;
}

/*.play-button-active {
  animation-name: size;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes size {

  0% { width: 60%; }

  100% { width: 65%; }

}*/

.camera_icon_svg {
  margin-top: 1.8rem;
  width: 65%;
  margin-right: 1rem;
}

.arrow {
  width: 12rem;
}

.cameraWebcamVideo {
  position: relative;
  margin-top: 23px;
}

.overlayWebcam {
  position: absolute;
  top: 1.5rem;
  left: 0;
  transform: scale(-1, 1);
}

.canvasEmotion {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.emotionText {
  color: var(--bg-color);
  font-size: 20rem;
}

.emotionContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  bottom: 1%;
  z-index: 100;
  top: 3.5rem;
}

.emotionResultText {
  font-size: 3.2rem;
  margin-top: 1em;
  color: var(--bg-color);
}

.emotionResultImg {
  width: 70%;
}

.EmotionToMake {
  font-size: 4.5rem;
  width: 60rem;
  margin-top: 2.5rem;
  line-height: 12rem;
}

span {
  font-size: 8.5rem;
  color: #5b091e;
  text-transform: uppercase;
}

.container_video {
  clip-path: url(#myClip);
  overflow: hidden;
  position: absolute;
  bottom: -5rem;
  left: 3.2rem;
}

.videoHelmet {
  transform: scale(-1, 1);
  object-position: 4.9rem -.7rem;
}

.imageHelmet {
  position: absolute;
  bottom: 1.3rem;
  left: 2.5rem;
  z-index: 200;
  width: 14.2rem;
}

.endscreen {
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.endscreen h1 {
  font-size: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.endscreenScore {
  font-size: 5rem;
  margin-top: 3rem;
}

.play_again_button_svg {
  margin-top: 3.5rem;
  width: 15%;
}

.play_again_button_svg:hover {
  cursor: pointer;
}

.soundImage {
  position: absolute;
  left: 30px;
  top: 40px;
  cursor: pointer;
  z-index: 20000;
}

.audioRange {
  position: absolute;
  left: 125px;
  top: 80px;
  z-index: 2000;
  width: 100px;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: linear-gradient(#00ff75, aqua);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #1f1029;
  border: 3px solid #00ff75;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(#00ff75, aqua);
}

.audioRangetext {
  position: absolute;
  left: 127px;
  top: 55px;
}

.emotionOverlay {
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: .3;
  transition: all .1s;
  pointer-events: none;
}

.boosterOverlay {
  background-color: rgba(255, 0, 0, .1);
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all .1s;
  pointer-events: none;

  & h1 {
    color: white;
    font-size: 6rem;
    position: absolute;
    left: 55rem;
    top: 22rem;
    opacity: .2;
    transition: all .1s;
  }

}

.imgDistance {
  position: absolute;
  right: 5rem;
  top: 33rem;
}

.hidden {
  opacity: 0;
  display: none;
  transition: all .1s;
}
